# Assignment 2 
### Phyllis Kho

## Part l: Lists and Loops

### 1) Create a list with the names of every planet in the solar system (in order)

In [20]:
planet_names = [
    'Mercury', 
    'Venus', 
    'Earth', 
    'Mars', 
    'Jupiter', 
    'Saturn', 
    'Uranus', 
    'Neptune'
]
planet_names

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

### 2) Have Python tell you how many planets there are by examining your list

In [21]:
len(planet_names)

8

### 3) Use slicing to display the first four planets (the rocky planets)

In [22]:
planet_names[0:4]

['Mercury', 'Venus', 'Earth', 'Mars']

### 4) Iterate through your planets and print the planet name only if it has an s at the end

In [264]:
for planet in planet_names:
    if planet[-1] == 's':
        print(planet)

Venus
Mars
Uranus

## Part ll: Dictionaries

### 1) Now create a dictionary that maps each planet name to its mass

In [81]:
planet_masses = {
    'Mercury':'0.330', 
    'Venus':'4.87', 
    'Earth':'5.97',
    'Mars':'0.642', 
    'Jupiter':'1898',
    'Saturn':'568',
    'Uranus':'86.8', 
    'Neptune': '102'
}


print('Note: The unit for mass is 10e24 kg')
print( )
planet_masses

Note: The unit for mass is 10e24 kg

{'Mercury': '0.330',
 'Venus': '4.87',
 'Earth': '5.97',
 'Mars': '0.642',
 'Jupiter': '1898',
 'Saturn': '568',
 'Uranus': '86.8',
 'Neptune': '102'}

### 2) Use your dictionary to look up Earth’s mass

In [266]:
print(planet_masses['Earth'])
print( )
print('Note: The unit for mass is 10e24 kg')

5.97

Note: The unit for mass is 10e24 kg

### 3) Loop through the data and create a list of planets whose mast is greater than 100 x 10^24 kg

In [272]:
# Check the type of the value of Earth's mass in planet_masses to make sure it is not a string.

type(planet_masses['Earth'])

float

In [288]:
# Create an empty list (to contain names of planets heavier than 100e24kg) first

planets_heavier_than_100e24 = []

# Loop through the data to find planets with mass greater than 100 * 10e24kg, and then use .append to add those planets to the empty rocky_planets[] list.

for planet in planet_masses:
    if planet_masses[planet] > 100:
        planets_heavier_than_100e24.append(planet)

print(planets_heavier_than_100e24)

['Jupiter', 'Saturn', 'Neptune']

### 4) Now add pluto to your dictionary

In [289]:
planet_masses['Pluto'] = 0.0130

print('Note: The unit for mass is 10e24 kg')
print( )
planet_masses

Note: The unit for mass is 10e24 kg

{'Mercury': 0.33,
 'Venus': 4.87,
 'Earth': 5.97,
 'Mars': 0.642,
 'Jupiter': 1898.0,
 'Saturn': 568.0,
 'Uranus': 86.8,
 'Neptune': 102.0,
 'Pluto': 0.013}

## Part III: Functions

### 1. Write a function to convert temperature from kelvin to celsius 
and celcius to kelvin

In [290]:
# Define a function to convert temperature from kelvin to celcius

def kelvin_to_celcius(kelvin):
    """Convert temperature from Kelvin to Celcius."""
    celcius = kelvin - 273.15
    return celcius


# Define a function to convert temperature from celcius to kelvin

def celcius_to_kelvin(celcius):
    """Convert temperature from Kelvin to Celcius."""
    kelvin = celcius + 273.15
    return kelvin

### 2. Write a function to convert temperature to fahrenheit. 
Include an optional keyword argument to specify whether the input is in celcius or kelvin. Call your previously defined functions if necessary.

In [291]:
def kelvin_or_celcius_to_fahrenheit(temperature, kelvin=False):
    """Convert temperature from Kelvin or Celcius to Fahrenheit."""
    if kelvin:
        fahrenheit = (9/5) * kelvin_to_celcius(temperature) + 32
        return str(temperature) + ' K' + ' is ' + str(fahrenheit) +  ' °F.'
    else:
        fahrenheit = (9/5) * (temperature) + 32
        return str(temperature) + ' °C' + ' is ' + str(fahrenheit) + ' °F.'

### 3) Check that the outputs are sensible
by trying a few examples

In [292]:
# Check kelvin_to_celcius(kelvin) function for 298.15K. Answer should be 25 °C.

kelvin_to_celcius(298.15)

25.0

In [293]:
# Check celcius_to_kelvin(celcius) function for 25 °C. Answer should be 298.15 K.

celcius_to_kelvin(25)

298.15

In [294]:
# Check kelvin_or_celcius_to_fahrenheit(temperature, kelvin=False) for 298.15 K. Answer should be 77 °F.

kelvin_or_celcius_to_fahrenheit(298.15, kelvin=True)

'298.15 K is 77.0 °F.'

In [295]:
# Check kelvin_or_celcius_to_fahrenheit(temperature, kelvin=False) for 25 °C. Answer should be 77 °F.

kelvin_or_celcius_to_fahrenheit(25)

'25 °C is 77.0 °F.'

### 4) Now write a function that converts from farenheit
and uses a keyword argument to specify whether you want the output in celcius or kelvin

In [296]:
def fahrenheit_to_celcius_or_kelvin(temperature, kelvin=False):
    """Convert temperature from Fahrenheit to Celcius or Kelvin."""
    if kelvin:
        kelvin = (((temperature) - 32) * (5/9)) + 273.15
        return str(temperature) + ' °F' + ' is ' + str(kelvin) +  ' K.'
    else:
        celcius = ((temperature) - 32) * (5/9)
        return str(temperature) + ' °F' + ' is ' + str(celcius) +  ' °C.'

In [297]:
# Check fahrenheit_to_celcius_or_kelvin(temperature, kelvin=False) for 77 °F to be converted to °C. Answer should be 25.0 °C.  

fahrenheit_to_celcius_or_kelvin(77)

'77 °F is 25.0 °C.'

In [298]:
# Check fahrenheit_to_celcius_or_kelvin(temperature, kelvin=False) for 77 °F to be converted to K. Answer should be 298.15 K.  

fahrenheit_to_celcius_or_kelvin(77, kelvin=True)

'77 °F is 298.15 K.'

### 5) Write a function that takes two arguments (feet and inches) and returns height in meters
Verify it gives sensible answers

In [299]:
def feet_and_inches_to_meters(feet, inches):
    """Convert feet and inches to meters."""
    total_inches = feet * 12 + inches
    meters = total_inches * 0.0254
    return meters

In [308]:
# Verifying feet_and_inches_to_meters(feet, inches) for height 5'1. Answer should be ~1.55m.

feet_and_inches_to_meters(5,1)

1.5493999999999999

### 6. Write a function takes one argument (height in meters) and returns two arguments (feet and inches)

In [309]:
def meters_to_feet_and_inches(meters):
    """Converting height in meters to feet and inches."""
    total_inches = meters / 0.0254
    feet = total_inches // 12
    inches = total_inches % 12
    return feet, inches

### 7) Verify that the “round trip” conversion from and back to meters is consistent
Check for 3 different values of height in meters

In [310]:
# Check meters_to_feet_and_inches(meters) for 1 m. Answer should be 3 feet and ~3.37 inches.

meters_to_feet_and_inches(1)

(3.0, 3.3700787401574814)

In [311]:
# Check feet_and_inches_to_meters(feet, inches) for 3 feet and 3.37 inches. Answer should be ~1 m.

feet_and_inches_to_meters(3, 3.37)

0.9999979999999999

In [312]:
# Check meters_to_feet_and_inches(meters) for 1.8 m. Answer should be 5 feet and ~10.87 inches.

meters_to_feet_and_inches(1.8)

(5.0, 10.866141732283467)

In [305]:
# Check feet_and_inches_to_meters(feet, inches) for 5 feet and 10.87 inches. Answer should be ~1.8 m.

feet_and_inches_to_meters(5, 10.87)

1.800098

In [306]:
# Check meters_to_feet_and_inches(meters) for 1.5 m. Answer should be 4 feet and ~11 inches.

meters_to_feet_and_inches(1.5)

(4.0, 11.055118110236222)

In [307]:
# Check feet_and_inches_to_meters(feet, inches) for 4 feet and 11.06 inches. Answer should be ~1.5 m.

feet_and_inches_to_meters(4, 11.06)

1.500124